<%= render 'users/user_info', user: @user %>
<% @posts.each do |post| %>
  <%= render 'post_info', user: @user, post: post%>
  <% if post.comments.any? %>
  <ul class= "comment-div">
  <% post.recent_comments.each do |comment| %>
    <li><%= comment.user.name %>: <%= comment.text %></li>
  <% end %>
  </ul>
  <% else %>
  <% end %>
  <% end %>
  <% if current_user == @user %>
  <%= link_to "create new post", new_user_post_path, class:"all-post-btn"  %>
<% end %>
  <div class="pagination">
  <%= link_to "Pagination", user_posts_path(@user), class:"all-post-btn"  %>
  </div>

