<div class="post-all">
<div class="post-show">
<p class="span"><%= @post.title %> by <%= @post.author.name %></p>
<div class="comments-likes">
<p class="post-text"> Comments:<%= @post.comments_counter%>,</p>
<p class="post-text"> Likes:<%= @post.likes_counter%></p>
</div>
</div>
<p><%= @post.text %></p>
</div>
<% if @post.comments.any? %>
  <ul class= "comment-div">
  <% @post.comments.each do |comment| %>
    <li><%= comment.user.name %>: <%= comment.text %></li>

    <% if can?(:destroy, comment) %>
    <%= button_to "Delete Comment", user_post_comment_path(current_user, @post, comment), method: :delete, class: "all-post-btn" %>
  <% end %>
  
  <% end %>
  </ul>
  <% else %>
  <% end %>
  <% if user_already_liked?(@post) %>
<%= button_to "Dislike", user_post_like_path(current_user, @post), method: :delete, class:"all-post-btn" %>
<% else %>
<%= button_to "Like", user_post_likes_path(current_user, @post), method: :post, class:"all-post-btn"  %>
<% end %>

<% if can?(:destroy, @post) %>
  <%= button_to "Delete post", user_post_path(current_user, @post), method: :delete, class: "all-post-btn" %>
<% end %>
  
<h2>Add a comment</h2>  
<%= form_with model:[current_user, @post, Comment.new] do |form| %>
    <div>
    <%= form.label :text %>
    <%= form.text_field :text%>
    </div>
    <div>
    <%= form.submit%>
    </div>
<% end %>
