<div class="post-all">
<div class="post-show">
<p class="span"><%= @post.title %> by <%= @post.author.name %></p>
<div class="comments-likes">
<p class="post-text"> Comments:<%= @post.comments_counter%>,</p>
<p class="post-text"> Likes:<%= @post.likes_counter%></p>
</div>
</div>
<p><%= @post.text %></p>
</div>
<% if @post.comments.any? %>
  <ul class= "comment-div">
  <% @post.comments.each do |comment| %>
    <li><%= comment.user.name %>: <%= comment.text %></li>
  <% end %>
  </ul>
  <% else %>
  <% end %>
 